# Object files
*.o
*.ko
*.obj
*.elf

DLLS
obj
DEBUG

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dllx
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex
RemoteAdminConsole/bin/Release/RemoteAdminConsole.exe.config
RemoteAdminConsole/bin/Release/RemoteAdminConsole.pdb
RemoteAdminConsole/bin/Release/RemoteAdminConsole.vshost.exe
RemoteAdminConsole/bin/Release/RemoteAdminConsole.vshost.exe.config
RemoteAdminConsole/bin/Release/RemoteAdminConsole.vshost.exe.manifest
RemoteAdminConsole.exe
